/* Common styles for both large and small screens */
header {
    /* background: #00000063; */
    z-index: ;
}

.z-index-1 {
    top: 0;
    z-index: -1 !important;
}

.bg-overlay {
    background: #00000063;
}

.thaavan {
    color: aliceblue;
}

.we_do {
    /* height: 50vh; Adjusted to 50% of the viewport height */
    width: 100%;
    background-color: #17213C;
}

.home_image {
    z-index: -1;
}
.wwd-card{
    height: 30vh;
    text-overflow: ellipsis;
}
/* Media query for screens 500 pixels or less */
@media screen and (max-width: 500px) {
    .thaavan{
        width: 250px;
    }
    .first-img {
        position: relative;
        left: -380px; /* Adjusted to start from the left */
        width: 1440px !important; /* Set the width to 100% */
        overflow: hidden; /* Ensure the image does not overflow its container */
    }

    .home_image {
        position: relative; /* Adjusted to make sure content is not hidden */
    }

    .we_do {
        height: auto; /* Adjusted to accommodate content */
    }
    .wwd-card {
        text-overflow: ellipsis;
        height: 50vh;
    }
}
@media screen and (min-width: 501px) and (max-width: 1000px) {
    .first-img {
        position: relative;
        left: -200px; /* Adjusted to start from the left */
        width: 1440px !important; /* Set the width to 100% */
        overflow: hidden; /* Ensure the image does not overflow its container */
    }
}